.ImageCreditGrid p {
  line-height: 1.6;
}
.cred-flex{   
    display: flex;
    flex-wrap: wrap;   
  }

.cred-flex>*{
  flex: 1 1 50%;
}


.cred-flex a img{
    height: 12vmax;
    width: 12vmax;
    border-radius: 2vmax;
    padding: 3%;
    object-fit: cover;
}

.cred-flex a img:hover{
  transform: scale(1.1);
}

