
.popup {
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    min-width: 50px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat','sans-serif';
    z-index: 10;   
}

.popup-inner{
    position: relative; 
    top:-50px;
    border-radius: 15px;  
    max-width: 40vmax;
    max-height: 30vmax;  
    padding: 0vmin 4vmin 2vmin 4vmin;
    background-color:#f39d7a;
    overflow-y: scroll;
}

.popup-inner p{
  text-shadow: none;
}
.popup-inner footer{
  text-shadow: none;  
}
#smaller-font{
  font-size: 1vmax;
  font-weight: 100;
}
.close-btn{
    left:0;
    margin-top: 2vmax;
    margin-bottom: 1vmax;
}

.close {
    position: absolute;
    right: 1vmin;
    width: 2.5vmin;
    padding-top: 0%;
    height: 2.5vmin;
    opacity: 0.3;
    background: none;
    border: none;
    cursor: pointer;
  }
 
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 2vmax;
    width: 0.2vmax;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  ::-webkit-scrollbar {
    width: 14px;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip:content-box;
    border-radius: 9999px;
    background-color: #e69373;
  }
