@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=IM+Fell+DW+Pica+SC&family=Montserrat:wght@300;800&family=New+Rocker&family=Permanent+Marker&family=Righteous&family=Special+Elite&display=swap');
.App {
  text-align: center;
  background-color: white;
  color:white;
  position: relative;
  font-family: 'Montserrat', 'sans-serif';
}