.grid-area-one{
    display: flex;
    flex-direction: column;
    grid-column: 1 /-1;
    background-image: url('../../imgs/skybuilding.JPG');
    background-size: cover;
    justify-content: center;
    align-items: left;
    text-align: left; 
  }
  .grid-area-one h1{
    margin-left:5%;
  }
  .grid-area-one p{
    margin-left:3%;
    text-shadow: none;
    font-weight: bold;
  }
  
  .grid-area-one Button{
    margin-top:1%;
    margin-left:12%;
  } 
  
  .grid-area-two{
    grid-column: 1;
    background-image: url('../../imgs/greenhouse.jpg');
    background-size: cover;
  }
  .grid-area-three{
    background-image: url('../../imgs/trees.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .App-header {
    display:grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100vh;
    font-size: calc(6px + 2vmin);
    text-shadow: 0.1vmax 0.1vmax #8ebd9a;
    color: white;
  }
  
  .example{
    max-height: 50%;
    min-height: 80px;
    min-width: 20%;
    display: flex;
    top:35%;
    left:40%;
    position:absolute;
    border: 10px solid white;
    
  }

  .margin-space{
    margin-top: 1vmax;
  }
  
  @media only screen and (max-width:560px){
    .example{
      display: none;
    }
  }